<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<div class="container">
<%= @answer %>
</div>
<span class="btn btn-primary link">
  <%= link_to "another one", ask_path %>
</span>
